{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
    {epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "4.3.0"}}},
    {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.10.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cowapp]}
]}.
