{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.6.1"}}},
    {epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "4.2.1"}}},
    {epgsql, {git, "git://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cowapp]}
]}.
